*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: 20px;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
}
.box-2{
    background-color: cornflowerblue;
}
.box-3{
    background-color: darkolivegreen;
}
.group-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.group{
    display: flex;
height: 90px;
margin: 0 30px;
width: 360px;
background-color: darkcyan;
border: 1px solid black;
}

